/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &totem_layout;
    };


    totem_layout: totem_layout {
        compatible = "zmk,physical-layout";
        display-name = "TOTEM";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        // Key positions extracted from the switch cutouts of the case STL
        // (TOTEM_case_ble_top_L/R_V.08, switch plate at z=3.7mm).
        // Column pitch 16.8mm = 100 units; 18mm between columns.
        keys
            = <&key_physical_attrs 100 100    78   153    1000   128   203>   //  0 LH0
            , <&key_physical_attrs 100 100   199    60     400   249   110>   //  1 LH1
            , <&key_physical_attrs 100 100   322     0       0     0     0>   //  2 LH2
            , <&key_physical_attrs 100 100   429    50       0     0     0>   //  3 LH3
            , <&key_physical_attrs 100 100   535    66       0     0     0>   //  4 LH4
            , <&key_physical_attrs 100 100   926    66       0     0     0>   //  5 RH0
            , <&key_physical_attrs 100 100  1034    50       0     0     0>   //  6 RH1
            , <&key_physical_attrs 100 100  1141     0       0     0     0>   //  7 RH2
            , <&key_physical_attrs 100 100  1263    60  (-400)  1313   110>   //  8 RH3
            , <&key_physical_attrs 100 100  1383   153 (-1000)  1433   203>   //  9 RH4
            , <&key_physical_attrs 100 100    96   252    1000   146   302>   // 10 LH0
            , <&key_physical_attrs 100 100   206   161     400   256   211>   // 11 LH1
            , <&key_physical_attrs 100 100   322   100       0     0     0>   // 12 LH2
            , <&key_physical_attrs 100 100   429   152       0     0     0>   // 13 LH3
            , <&key_physical_attrs 100 100   535   168       0     0     0>   // 14 LH4
            , <&key_physical_attrs 100 100   926   168       0     0     0>   // 15 RH0
            , <&key_physical_attrs 100 100  1034   152       0     0     0>   // 16 RH1
            , <&key_physical_attrs 100 100  1141   100       0     0     0>   // 17 RH2
            , <&key_physical_attrs 100 100  1256   161  (-400)  1306   211>   // 18 RH3
            , <&key_physical_attrs 100 100  1366   252 (-1000)  1416   302>   // 19 RH4
            , <&key_physical_attrs 100 100     0   326    1000    50   376>   // 20 LPKY
            , <&key_physical_attrs 100 100   114   352    1000   164   402>   // 21 LH0
            , <&key_physical_attrs 100 100   213   262     400   263   312>   // 22 LH1
            , <&key_physical_attrs 100 100   322   202       0     0     0>   // 23 LH2
            , <&key_physical_attrs 100 100   429   252       0     0     0>   // 24 LH3
            , <&key_physical_attrs 100 100   535   268       0     0     0>   // 25 LH4
            , <&key_physical_attrs 100 100   926   268       0     0     0>   // 26 RH0
            , <&key_physical_attrs 100 100  1034   252       0     0     0>   // 27 RH1
            , <&key_physical_attrs 100 100  1141   202       0     0     0>   // 28 RH2
            , <&key_physical_attrs 100 100  1249   262  (-400)  1299   312>   // 29 RH3
            , <&key_physical_attrs 100 100  1348   352 (-1000)  1398   402>   // 30 RH4
            , <&key_physical_attrs 100 100  1462   326 (-1000)  1512   376>   // 31 RPKY
            , <&key_physical_attrs 100 100   399   375       0     0     0>   // 32 LT0
            , <&key_physical_attrs 100 100   517   392 (-1500)   567   442>   // 33 LT1
            , <&key_physical_attrs 100 100   627   437 (-3000)   677   487>   // 34 LT2
            , <&key_physical_attrs 100 100   835   437    3000   885   487>   // 35 RT0
            , <&key_physical_attrs 100 100   945   391    1500   995   441>   // 36 RT1
            , <&key_physical_attrs 100 100  1064   375       0     0     0>   // 37 RT2
            ;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <10>;
        rows = <4>;
//             | SW01  | SW02  | SW03  | SW04  | SW05  |  | SW05  | SW04  | SW03  | SW02  | SW01  |
//             | SW06  | SW07  | SW08  | SW09  | SW10  |  | SW10  | SW09  | SW08  | SW07  | SW06  | 
//      | SW16 | SW11  | SW12  | SW13  | SW14  | SW15  |  | SW15  | SW14  | SW13  | SW12  | SW11  | SW16  |
//                             | SW17  | SW18  | SW19  |  | SW19  | SW18  | SW17  | 
        map = <
                RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4)    RC(0,5) RC(0,6) RC(0,7) RC(0,8) RC(0,9)
                RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4)    RC(1,5) RC(1,6) RC(1,7) RC(1,8) RC(1,9)
        RC(3,0) RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4)    RC(2,5) RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(3,9)
                                RC(3,2) RC(3,3) RC(3,4)    RC(3,5) RC(3,6) RC(3,7)         
        >;
    };


    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        
        diode-direction = "col2row"; 
        row-gpios
            = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};